# Ignore all files in the "target" directory
target/

# Ignore Eclipse settings
.classpath
.directory
.factorypath
.project
.settings/

# Ignore IntelliJ files and directories
.idea/
scorecard-api.iml
