# Ignore all files in the "target" directory
target/

# Ignore Eclipse settings
.classpath
.directory
.factorypath
.project
.settings/

# Ignore IntelliJ settings
.idea/
scorecard-api.iml

# Ignore Visual Studio Code settings
.vscode/